* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFD500;
}

.box-cards{
    width: calc(100% / 4 - 20px);
    margin: 10px;
}

img {
    padding: 15px 0;
}

.card {
    border: 1px solid rgb(30, 29, 29);
    width: 100%;
    height: 100%;
}

.card-body {
    background-color: #F8F8F8;
    border-radius: 5px;
}